extends layout.pug

block content
  section.home#home
    div#particles-js
    div.content
      h2 Unlock Your Commute with 
        span.highlight
          u RoeRide
      p Seamlessly connecting Roehampton University students for affordable and sustainable travel.
      a.btn(href="/rides")
        span Discover More
        i.fas.fa-arrow-circle-down
  section.about#about
    h2.heading
      i.fas.fa-info-circle
      |  About 
      span RoeRide
    div.row
      div.image
        img(src="/images/students-commute.webp", alt="Students Commute", draggable="false", class="tilt")
      div.content
        h3 About RoeRide
        p RoeRide is a ride-sharing platform designed to facilitate transportation among students of Roehampton University...