extends layout

block content
  .container
    h1.text-center.mb-4 Users List

    // Link to go back to the home page or other pages
    a.btn.btn-primary(href='/') Back to Home

    .table-container
      table.table.table-striped.table-bordered
        thead
          tr
            th Name
            th Email
            th Phone
            th Actions
        tbody
          each user in users
            tr
              td #{user.name}
              td #{user.email}
              td #{user.phone}
              td